.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (min-width: 320px)and (max-width: 620px) {
  .registerTitle {
   font-size: 20px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.webcam_vote_camo video{
  border-radius: 10px;
}

.webcam_title {
  color: #67879C;
}
 /*media query for webcam title*/

 @media screen and (min-width: 320px)and (max-width: 464px) {
  .webcam_title {
     font-size: 20px;
  }
}
.cab_imgsubmit_btn{
  margin-top: 40px;
  background: linear-gradient(270deg, rgb(103, 135, 156), rgb(150, 220, 203));
  padding: 12px 24px;
  font-size: 16px;
  margin-right: 12px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.add_newparty_btn1{
  background: linear-gradient(270deg, rgb(103, 135, 156), rgb(150, 220, 203));
  padding: 12px 25px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container-addparty {
  background: beige;
  margin:0px 40px;
  border-radius: 8px;
}

.adminConatiner {
  background:"beige";
  height:"90vh";
  border-radius: "8px";
  }  
  /*media query for admin dashboard page*/
  
  @media screen and (min-width: 320px)and (max-width: 374px) {
    .adminConatiner {
     background: white;
    }
  }
  
  @media screen and (min-width: 375px) {
    .adminConatiner {
     background: beige;
    }
  }